div,img
{
    width: 100%;
}
h3
{
    color: hsl(192, 100%, 9%);
    font-weight: 600;
}
p
{
    color: hsl(208, 11%, 55%);
}
/* title */
.title
{
    background-color: #eaf5ff;
}
.nav-div
{
    padding: 20px 20px 20px 30px;
}
.title-stuff-div
{
    padding: 30px 40px;
}
.Build-div
{
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: 100px;
}
.Build-div-h3
{
    width: 70%;
    line-height: 1.5;
    padding-bottom: 20px;
}

.Build-div-para
{
    padding: 10px 0;
}
/* button */
.butn {
    font-family: 'Poppins', sans-serif;
    background: #ffffff;
    background-image: -webkit-linear-gradient(top, #ffffff, #c3d2db);
    background-image: -moz-linear-gradient(top, #ffffff, #c3d2db);
    background-image: -ms-linear-gradient(top, #ffffff, #c3d2db);
    background-image: -o-linear-gradient(top, #ffffff, #c3d2db);
    background-image: linear-gradient(to bottom, #ffffff, #c3d2db);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    -webkit-box-shadow: 0px 0px 12px #666666;
    -moz-box-shadow: 0px 0px 12px #666666;
    box-shadow: 0px 0px 12px #666666;
    color: #000000;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
  
.butn:hover {
    background: #c0c7cc;
    background-image: -webkit-linear-gradient(top, #c0c7cc, #e8f3fa);
    background-image: -moz-linear-gradient(top, #c0c7cc, #e8f3fa);
    background-image: -ms-linear-gradient(top, #c0c7cc, #e8f3fa);
    background-image: -o-linear-gradient(top, #c0c7cc, #e8f3fa);
    background-image: linear-gradient(to bottom, #c0c7cc, #e8f3fa);
    text-decoration: none;
}
.butn2 {
    font-family: 'Poppins', sans-serif;
    background: #db64db;
    background-image: -webkit-linear-gradient(top, #db64db, #d171d1);
    background-image: -moz-linear-gradient(top, #db64db, #d171d1);
    background-image: -ms-linear-gradient(top, #db64db, #d171d1);
    background-image: -o-linear-gradient(top, #db64db, #d171d1);
    background-image: linear-gradient(to bottom, #db64db, #d171d1);
    -webkit-border-radius: 43;
    -moz-border-radius: 43;
    border-radius: 43px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
  
.butn2:hover {
    background: #d929d6;
    background-image: -webkit-linear-gradient(top, #d929d6, #eb5bda);
    background-image: -moz-linear-gradient(top, #d929d6, #eb5bda);
    background-image: -ms-linear-gradient(top, #d929d6, #eb5bda);
    background-image: -o-linear-gradient(top, #d929d6, #eb5bda);
    background-image: linear-gradient(to bottom, #d929d6, #eb5bda);
    text-decoration: none;
}
                                        /* second section  */
.second-section-1st-div, .second-section-2nd-div, .second-section-3rd-div
{
    width: 70%;
    margin: 50px auto;
}
.grow-together-img
{
    width: 40%;
    float: right;
    margin-left: 50px;
}
.common
{
    padding-top: 70px;
}
.fiowing-conversation-img
{
    width: 40%;
    float: left;
    margin-right: 50px;
}
/* fotter section*/
footer
{
    text-align: center;
    margin: 70px 0 30px;
}
@media (max-width:500px)
{
     /* Mobile Title */
    body
    {
        text-align: center;
    }
    .mobile 
    {
        width: 120px;
        height: 40px;
    }
    .Build-div-h3
    {
        display: inline;
        position: relative;
        bottom: 80px;
        left: 20px;
    }
    .Build-div-para
    {
        position: relative;
        bottom: 50px;
        left: 10px;
    }
    .button-mobile
    {
        position: relative;
        bottom: 50px;
    }
    .mockup-img
    {
        padding-top: 100px;
    }
    /* second section */
    .second-section
    {
        text-align: center;
    }
    .grow-together-img, .grow-together-text, .mockup-img
    {
        position: relative;
        left: 20px;
    }
    .second-section-1st-div, .second-section-2nd-div, .second-section-3rd-div
    {
        width: 50%;
        margin: 50px auto;
    }
    .grow-together-text
    {
        margin: 10% 0 0 0;
    }
    .grow-together-para
    {
        margin-top: 5%;
        width: 120%
    }
    .grow-together-img, .fiowing-conversation-img
    {
        padding-bottom: 50px;
        width: 100%;
    }
}